/.classpath
/.project
/.settings
/.idea
/.DS_Store
*.iml
**/target
*.war

**/.checkstyle
**/.classpath
**/.DS_Store
**/.externalToolBuilders
*/.idea/
**/.project
**/.reviewboardrc
**/.settings
**/bin
**/build
*/org.eclipse.
*/lib/.jar
*/target/
*/.class
*/.iml
*/.ipr
*/.iws
*/.jar
*/.old
*/.out
*/.pyc
*/.save
*/.swp
*/.log
**/log
*.log
**/atlassian-ide-plugin.xml
**/benchmark_outputs
**/dev-build-number.properties
.classpath
.project
/target/
.settings/